







# Host e porta
N8N_HOST=0.0.0.0
N8N_PORT=5678
N8N_PROTOCOL=http








# Chiave di cifratura (min 32 caratteri)
N8N_ENCRYPTION_KEY=CAMBIA_QUESTA_CHIAVE_LUNGA








# Fuso orario
GENERIC_TIMEZONE=Europe/Rome








# Dati persistenti
N8N_DATA=./n8n_data
POSTGRES_DATA=./pg_data








# DB
POSTGRES_USER=n8n
POSTGRES_PASSWORD=[Credentials]
POSTGRES_DB=n8n







